################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
packages/
*.pubxml.user
*.csproj.user
.vs/
*.config
*.userprefs